@model Tutorias.Models.Maestro
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}
<!--#######################  Header    #######################-->
<header class="cabecera">
    <div class="container">
        <h1>Cuenta</h1>
    </div>
</header>

<!--#######################   Formulario Docentes  #######################-->
<div class="formReadDoc bg-light align-lg-center mt-2 mx-auto mb-3">
    <div class="containerDatosPersonales">
        <h3 id="eDatosPersonales ">Datos personales</h3>
        <div class="btn-group">
            <a class="btn btn-light" href="~/Maestro/Home/Editar/@Model.NumeroControl">
                <i class="fas fa-pen"></i>
            </a>
            <button type="button" href="#" class="btn btn-light">
                <i class="far fa-trash-alt"></i>
            </button>


        </div>
    </div>

    <div class="container my-2 bg-light">
        <div>
            <label type="text" name="Rol" id="txtIdRoll" class="form-control" aria-describedby="basic-addon1" value="Maestro" hidden></label>
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="NumeroControl" id="basic-addon1">Numero de Control</span>
                </div>
                <label type="text" name="txtNumControl" id="txtNumControl" class="form-control" aria-describedby="basic-addon1" disabled>@Model.NumeroControl</label>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="Nombre">Nombre</span>
                </div>
                <label type="text" name="txtNombre" id="txtNombre" class="form-control" aria-describedby="basic-addon1" disabled>@Model.Nombre</label>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="ApPaterno" id="basic-addon1">Apelido Paterno</span>
                </div>
                <label type="text" name="txtApPaterno" id="txtApPaterno" class="form-control" aria-describedby="basic-addon1" disabled>@Model.ApPaterno</label>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="ApMaterno">Apellido Materno</span>
                </div>
                <label type="text" name="txtApMaterno" id="txtApMaterno" class="form-control" aria-describedby="basic-addon1" disabled>@Model.ApMaterno</label>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="Email">Email</span>
                </div>
                <label type="email" name="txtEmail" id="txtEmail" class="form-control" aria-describedby="basic-addon1" disabled>@Model.Email</label>
            </div>
        </div>
    </div>
</div>
