
@model Tutorias.Models.AlumnoViewModel
@inject Tutorias.Services.MenuService ms
@{
    //ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}
<header class="cabecera">
    <div class="container">
        <h1>Cuenta</h1>
    </div>
</header>

<!--#######################   Formulario Alumnos  #######################-->
<div class="formReadAl bg-light align-lg-center | mt-2 mx-auto mb-3">
    <div class="containerDatosPersonales">
        <h3 id="eDatosPersonales ">Datos personales</h3>
        <div class="btn-group">

            <a class="btn btn-light" id="btnEditar">
                <i class="fas fa-pen"></i>
            </a>
            <button type="button" href="#" class="btn btn-light">
                <i class="far fa-trash-alt"></i>
            </button>

        </div>
    </div>

    <div class="container my-2 bg-light">
        <form class="bg-light" method="post" action="~/Alumno/Editar/@Model.NumeroControl" enctype="multipart/form-data">
            <input type="text" asp-for="Rol" name="Rol" id="txtIdRoll" class="form-control" aria-describedby="basic-addon1" value="Alumno" hidden>
            <input type="text" asp-for="Activo" name="Activo" class="form-control" aria-describedby="basic-addon1" hidden>

            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="NumeroControl">Numero de Control</span>
                </div>
                <input type="text" asp-for="NumeroControl" name="txtNumControl" id="txtNumControl" class="form-control" aria-describedby="basic-addon1" disabled>

            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="Nombre" Nombres">Nombre</span>
                </div>
                <input type="text" asp-for="Nombre" name="Nombre" id="txtNombre" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="ApPaterno">Apellido Paterno</span>
                </div>
                <input type="text" asp-for="ApPaterno" name="ApPaterno" id="txtApPaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="ApMaterno">Apellido Materno</span>
                </div>
                <input type="text" asp-for="ApMaterno" name="ApMaterno" id="txtApMaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Semestre</span>
                </div>
                <select required asp-for="IdSemestre" name="IdSemestre" type="text" class="form-control" aria-label="Default select example">
                    @foreach (var item in ms.GetSemestres())
                    {
                        <option value="@item.Id">@item.NoSem</option>
                    }
                </select>
            </div>

            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Carrera</span>
                </div>
                <select asp-for="IdCarrera" name="IdCarrera" class="form-control" aria-label="Default select example">

                    @foreach (var item in ms.GetCarreras())
                    {
                        <option value="@item.Id">@item.Carrera1</option>
                    }

                </select>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="Email">Email</span>
                </div>
                <input type="email" asp-for="Email" name="Email" id="txtEmail" class="form-control" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" for="Contraseña">Contraseña</span>
                </div>
                <input type="password" asp-for="Contraseña" name="txtContraseña" id="txtContraseña" class="form-control" aria-describedby="basic-addon1">
            </div>

            <input class="btn btn-secondary btn-md float-right | mb-3" id="btnGuardar" name="btnGuardar" type="submit" value="Guardar">
            <br />
            <br />


            <p id="error">
                @Html.ValidationSummary()
            </p>

        </form>
    </div>

</div>
